!!!
%html  
  %head  
    %title
      = _ :page_title
    %link(href="/index.css" media="all" rel="stylesheet" type="text/css")
    - if @refresh_time
      %meta{'http-equiv' =>'refresh', 'content' => "#{@refresh_time}" }
  %body
    #page_bar_wrap
      #page_bar
        %b
          = _ :page_name
        #page_menu
          .current_tab.tab
            %a(href="/#{@language}/")
              = _ :sdk
          .tab
            %a(href="/#{@language}/targets/")
              = _ :targets
          %a(href="/#{@language}/toolchains/")
            = _ :toolchains
        .clear

    #content_wrap
      #content
        .page_header.manage_header
          = _ :manage_sdk
        #sdk_management
          #sdk_version
            %ul
              - @sdk_version.each do |ver_line|
                %li
                  #{ver_line}
          #sdk_upgrade
            %form{:action => "/#{@language}/sdk/", :method => "post"}
              %input{:type => "submit", :value => (_ :upgrade), :class => "button"}
        .clear
        - if @status_out and @status_out.size > 0
          #line_wrap
            %img(src="/images/line3.png")
          .clear
          #progress_view
            .page_header#progress
              = _ :operation_progress
            .monospace
              #{@status_out}
          .clear


/ designed by: agata.blomberg@gmail.com
