!!!
%html  
  %head  
    %title
      = _ :page_title
    %link(href="/index.css" media="all" rel="stylesheet" type="text/css")
    - if @refresh_time
      %meta{'http-equiv' =>'refresh', 'content' => "#{@refresh_time}" }
    %link(href="/css/fonts.css" rel="stylesheet" type="text/css")
  %body
    .page_bar_wrap
      #page_bar
        %ul#page_menu
          %a(href="/#{@language}/targets/")
            %li.tab{:class => tab == :targets ? "current_tab" :"" }
              .li
                = _ :targets
          %a(href="/#{@language}/toolchains/")
            %li.tab{:class => tab == :toolchains ? "current_tab" :"" }
              .li
                = _ :toolchains
          -# %a(href="/#{@language}/")
            %li.tab{:class => tab == :sdk ? "current_tab" :"" }
              .li
                = _ :sdk
      #name_wrap
        #logo
        #page_name
          = _ :page_name
    .wrapper
      .content_wrap
        =yield
      - if @status_out and @status_out.size > 0
        .progress
          .progress_background
            #progress_view
              .progress_header
                = _ :operation_progress
              .monospace
                #{@status_out}



