!!!
%html  
  %head  
    %title
      = _ :page_title
    %link(href="/index.css" media="all" rel="stylesheet" type="text/css")
    - if @refresh_time
      %meta{'http-equiv' =>'refresh', 'content' => "#{@refresh_time}" }
    %link(href="http://fonts.googleapis.com/css?family=Source+Code+Pro:300|Source+Sans+Pro:300" rel="stylesheet" type="text/css")
  %body
    .page_bar_wrap
      #page_bar
        %ul#page_menu
          %li.tab
            .li
              %a.menu_link(href="/#{@language}/")
                = _ :sdk
          %li.current_tab.tab
            .li
              %a.menu_link(href="/#{@language}/targets/")
                = _ :targets
          %li.tab
            .li
              %a.menu_link(href="/#{@language}/toolchains/")
                = _ :toolchains
      #name_wrap
        #logo
        #page_name
          = _ :page_name
    .wrapper
      .content_wrap
        .content
          .page_header
            = _(:manage_target) + ': ' + @target
          #tables_wrap
            #dependency_table
              %table
                %tbody
                  %tr
                  - @dependency_list.each do |package, installed|
                    %tr
                      %td.element_name
                        #{package}
                      %td.install_button
                        - if not installed
                          %form{:action => "/#{@language}/targets/#@target/#{package}", :method => "post"}
                            %input{:type => "submit", :value => (_ :install), :class => "button"}
                        - else
                          %form{:action => "/#{@language}/targets/#@target/#{package}", :method => "post"}
                            %input{:type => "submit", :value => (_ :delete), :class => "button", :name=> "_method"}
          .clear
      - if @status_out and @status_out.size > 0
        .progress
          .progress_background
            #progress_view
              .progress_header
                = _ :operation_progress
              .monospace
                #{@status_out}
            .clear


