.content
  .page_header
    = _(:manage_target_packages) + ': ' + @target
  #manage
    %div.sync_button
      %form{:action => "/#{@language}/targets/#{@target}/sync", :method => :post}
        %input{:type => 'submit', :value => (_ :sync), :class => "button", :name => "_method"}
          = _(:explain_sync)
    %div.sync_button
      %form{:action => "/#{@language}/targets/#{@target}/refresh", :method => :post}
        %input{:type => 'submit', :value => (_ :refresh), :class => "button", :name => "_method"}
          = _(:explain_refresh)
  #packages_table
    %form{:action => "/#{@language}/targets/add", :method => 'post'}
      %input{:id => "search", :type => "text", :onkeyup => "filter(this)"}
        :javascript
          function filter(element) {
            var value = $(element).val();
            if (value == "") {
              $("#packagelist").hide();
            } else {  
              $("#packagelist > tr").each(function() {
                row=this;
                show=true;
                text=$(row).find("td:first").text();
                $.each(value.split(" "), function() {
                  if (text.search(this) < 0) {show=false;}
                });
                if (show) {$(row).show();} else {$(row).hide();}
              });
              $("#packagelist").show();
            }
          }
      = _(:search_for_packages)
      %table
        %tbody{:id => "packagelist"}
          %script
            // Hide the packagelist on first load
            $("#packagelist").hide();
          - @package_list.each_with_index do |(package, installed), count|
            %tr{:id => count}
              %td.element_name
                #{package}
              %td.install_button
                - if not installed
                  %form{:action => "/#{@language}/targets/#@target/#{package}", :method => "post"}
                    %input{:type => "submit", :value => (_ :install), :class => "button"}
              %td.install_button
                - if installed
                  %form{:action => "/#{@language}/targets/#@target/#{package}", :method => "post"}
                    %input{:type => "submit", :value => (_ :delete), :class => "button", :name=> "_method"}
  .clear
