.content
  .page_header
    = _(:manage_target) + ': ' + @target
  #manage
    %div.sync_button
      %form{:action => "/#{@language}/targets/#{@target}/sync", :method => :post}
        %input{:type => 'submit', :value => "sync", :class => "button", :name => "_method"}
          = _(:explain_sync)
    %div.sync_button
      %form{:action => "/#{@language}/targets/#{@target}/refresh", :method => :post}
        %input{:type => 'submit', :value => "refresh", :class => "button", :name => "_method"}
          = _(:explain_refresh)
  #packages_table
    %form{:action => "/#{@language}/targets/add", :method => 'post'}
      %table
        %tbody
          %tr
          - @package_list.each do |package, installed|
            %tr
              %td.element_name
                #{package}
              %td.install_button
                - if not installed
                  %form{:action => "/#{@language}/targets/#@target/#{package}", :method => "post"}
                    %input{:type => "submit", :value => (_ :install), :class => "button"}
              %td.install_button
                - if installed
                  %form{:action => "/#{@language}/targets/#@target/#{package}", :method => "post"}
                    %input{:type => "submit", :value => (_ :delete), :class => "button", :name=> "_method"}
  .clear
