.content
  .page_header
    = _(:manage_target) + ': ' + @target
  #tables_wrap
    #packages_table
      %table
        %tbody
          %tr
          - @package_list.each do |package, installed|
            %tr
              %td.element_name
                #{package}
              %td.install_button
                - if not installed
                  %form{:action => "/#{@language}/targets/#@target/#{package}", :method => "post"}
                    %input{:type => "submit", :value => (_ :install), :class => "button"}
                - else
                  %form{:action => "/#{@language}/targets/#@target/#{package}", :method => "post"}
                    %input{:type => "submit", :value => (_ :delete), :class => "button", :name=> "_method"}
  .clear
