.content
  .page_header
    = _(:manage_target) + ': ' + @target
  #manage
    %div.sync_button
      %form{:action => "/#{@language}/targets/#{@target}/sync", :method => :post}
        %input{:type => 'submit', :value => (_ :sync), :class => "button", :name => "_method"}
          = _(:explain_sync)
    %div.sync_button
      %form{:action => "/#{@language}/targets/#{@target}/refresh", :method => :post}
        %input{:type => 'submit', :value => (_ :refresh), :class => "button", :name => "_method"}
          = _(:explain_refresh)
    %div.packages_button
      %a{:href => "/#{@language}/targets/#{@target}/packages", :class => "button button_link"}
        = _(:manage_packages)
      = _(:explain_packages)
  .clear
