.content
  .page_header
    = _ :manage_toolchains
  #tables_wrap
    #toolchains_table
      %table
        %tbody
          - @toolchain_list.each do |toolchain, installed|
            %tr
              %td.element_name
                #{toolchain}
              -# removing patterns wont' work so let's hide the button
                %td.delete_button 
                - if installed
                  %form{:action => "/toolchains/#{toolchain}", :method => "post"}
                    %input{:type => "submit", :value => "delete", :class => "button", :name=> "_method"}
                - else
                  %input{:type => "button", :value => "delete", :disabled => "true", :class => "button disabled", :name=> "_method"}
              %td.install_button
                - if not installed
                  %form{:action => "/#{@language}/toolchains/#{toolchain}", :method => "post"}
                    %input{:type => "submit", :value => (_ :install), :class => "button"}
                - else
                  %input{:type => "button", :value => (_ :installed), :disabled => "true", :class => "button disabled", :name=> "_method"}
  .clear
