!!!
%html  
  %head  
    %title SDK helper WebApp
    %link(href="/index.css" media="all" rel="stylesheet" type="text/css")
    - if @refresh_time
      %meta{'http-equiv' =>'refresh', 'content' => "#{@refresh_time}" }
  %body
    #page_bar_wrap
      #page_bar
        %a(href="/") SDK Control Center
        %a(href="/targets/") Targets
        %b
          %a(href="/toolchains/") Toolchains


    #content_wrap
      #content
        .page_header#manage_sdk
          Manage Toolchains
        #line_wrap
          %img(src="/images/line3.png")
        #headers_wrap
          #toolchains_header Available toolchains:
        .clear
        #tables_wrap
          #toolchains_table
            %table
              %tbody
                - @toolchain_list.each do |toolchain, installed|
                  %tr
                    %td.element_name
                      #{toolchain}
                    -# removing patterns wont' work so let's hide the button
                      %td.delete_button 
                      - if installed
                        %form{:action => "/toolchains/#{toolchain}", :method => "post"}
                          %input{:type => "submit", :value => "delete", :class => "button", :name=> "_method"}
                      - else
                        %input{:type => "button", :value => "delete", :disabled => "true", :class => "button disabled", :name=> "_method"}
                    %td.install_button
                      - if not installed
                        %form{:action => "/toolchains/#{toolchain}", :method => "post"}
                          %input{:type => "submit", :value => "install", :class => "button"}
                      - else
                        %input{:type => "button", :value => "install", :disabled => "true", :class => "button disabled", :name=> "_method"}
          .clear
        #line_wrap
          %img(src="/images/line3.png")
        .clear            
        #progress_view
          .page_header#progress
            Installation progress
          .monospace
            #{@status_out}
        .clear


/ designed by: agata.blomberg@gmail.com
