.content
  .page_header
    = _ :manage_sdk
  #sdk_management

  = _ "Version and update status"

  = _ "Version_summary"

  %h1= _ "Engine"

  = _ "Engine_at_version" #{ENGINE_VERSION} _ "Engine_version_avail" #{ENGINE_VERSION_AVAILABLE}

  %h1= _ "Targets"

  = _"Targets_body"

  %h1= _ "Emulators"

  = _"Emulators_body"

  %h1= _ "Providers"
 
  = _"Providers_body"
  

  .clear
