.content
  .page_header
    = _ :manage_sdk
  #sdk_management

  = _ "Version and update status"

  = _ "Version_summary"

  %h1= _ "Engine"

  %p
    Enables engine updates

  %p
    = _ (:engine_version ) #{Engine.version}

  - if Engine.update_available?
    %form{:action => "/#{@language}/engine/update", :method => "post"}
      %input{:type => "submit", :value => (_ "Update Engine"), :class => "button", :name=> "_method"}

  .clear

  %hr

  %h1= _ "Targets"

  = _"Targets_body"
  %p
    Check each target for updates available

  - if Target.update_check_needed
    %form{:action => "/#{@language}/target/check_for_updates", :method => "post"}
      %input{:type => "submit", :value => (_ :check_for_updates), :class => "button", :name=> "_method"}
  - else
    %table
      - Target.each do |target|
        %tr
          %td
            #{target.name}
            %td
              - if target.update_available?
                %form{:action => "/#{@language}/target/#{target.id}", :method => "post"}
                %input{:type => "submit", :value => (_ :update), :class => "button", :name=> "_method"}
              - else
                = _ "Uptodate"

  %hr

  %h1= _ "Emulators"

  = _"Emulators_body"

  %hr

  %h1= _ "Providers"
 
  = _"Providers_body"

  #provider_list
    %table
      - Provider.each do |provider|
        %tr
          %td
            #{provider.name}
          %td
            (#{provider.url})
          %td
            %form{:action => "/#{@language}/provider/#{provider.id}", :method => "post"}
              %input{:type => "submit", :value => (_ :delete), :class => "button", :name=> "_method"}
          %td
            - if provider.success
              OK
            - else
              Not OK

  #provider_control
    New Provider
  #provider_wrap
    %form{:action => "/#{@language}/provider/add", :method => 'post'}
      %label
        = _ :provider
      .parameter
        .parameter_name
          %label
            = _ :provider_name
        .parameter_text_field
          %input#text_field1{:type => 'text', :name => 'provider_name', :value => @provider_name, :class=> "button"}
      .clear
      .parameter
        .parameter_name
          %label
            = _ :provider_url
        .parameter_text_field
          %input#text_field2{:type => 'text', :name => 'provider_url', :value => @provider_url, :class=> "button"}
      .clear
      .parameter_add_button
        %input{:type => 'submit', :value => (_ :add), :class => 'button'}
  :javascript
    $("#provider_wrap").hide()
    $("#provider_control").click(function () {
      $("#provider_wrap").toggle()
    });
  .clear
